*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 6vh;
  border-bottom: 1px solid black;
}
.players{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.player-card{
  width: 30%;
  height: 100px;
  border: 1px solid white;
  margin: 20px;
  text-align: center;
  padding-top: 10px;
}
.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.coin__title {
  display: block;
  margin-left: 8px;
    min-width: 160px;
text-align: left;
}

.coin__symbol {
  display: block;
  margin-bottom: 10px;
}

.coin__logo {
  width: 50px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;

  .navbar {
    background-color: #1F2022;
    border: none;
  }
}